<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    <div id="responseDisplay"></div>

    <button id="submitButton">123</button>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const submitButton = document.querySelector("#submitButton");
            const responseDisplay = document.querySelector("#responseDisplay");

            submitButton.addEventListener('click', function() {
                const data1 = {
                    name: 'John',
                    age: '25',
                    gender: 'Male'
                };

                fetch('http://localhost:3000/post', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data1)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    responseDisplay.textContent = JSON.stringify(data, null, 2);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
